<div class="container-fluid main-container">
    

    <div *ngIf="this.foodlist.length==0 then noitem else item"></div>
    <ng-template #noitem>
        <h2>No items in the cart.</h2>
    </ng-template>
    <ng-template #item>
    <div class="card m-1 shadow mb-2" *ngFor="let i of this.foodlist">
        <img [src]="i.img" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text fw-medium">&#8377;{{i.price}}.00</p>
            <div class="btn-group w-75" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger fw-bolder">
                    <span class="bi bi-dash-lg"></span>
                </button>
                <input class="w-50 text-center p-2 fs-5 fw-bolder" type="text" disabled [value]="this.mycart[i.id]">
                <button type="button" class="btn btn-success fw-bolder text-center">
                    <span class="bi bi-plus-lg"></span>
                </button>
              </div>
        </div>
    </div>
    <div class="w-100 text-center">
        <button class="btn btn-primary w-75">Confirm Order</button>
    </div>
</ng-template>
</div>